asgiref==3.11.0
brotli==1.2.0
cffi==2.0.0
crispy-bootstrap5==2025.6
cssselect2==0.8.0
Django==5.2.8
django-crispy-forms==2.5
django-extensions==4.1
fonttools==4.61.1
pillow==12.0.0
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
sqlparse==0.5.3
tinycss2==1.5.1
tinyhtml5==2.0.0
weasyprint==68.0
webencodings==0.5.1
zopfli==0.4.0
