{% extends "general/layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %} OrderItem{% endblock %}

{% block h1 %} Items del Encargo {% endblock %}

{% block contenido %}
    <div class="container">
        {% include "_includes/_messages.html" %}
        <h1>Rellena los siguientes campos</h1>
        <form action="" method='post'>
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-sm-6">
                    {{ form.product|as_crispy_field}}
                    {{ form.variant|as_crispy_field}}
                    {{ form.quantity|as_crispy_field}}
                    {{ form.unit_price|as_crispy_field}}
                    {{ form.notes|as_crispy_field}}
                    {{ form.errors }}
                    {{ form.non_field_errors }}
                </div>
                <div class="col-12 col-sm-6">
                    {% if items %}
                    <p><b>Artículos añadidos:</b></p>
                    <ul>
                        {% for item in items %}
                        <li>
                            {{item.product}}
                            {{item.variant}}
                            {{item.quantity}}
                            {{item.unit_price}}
                            {{item.notes}}
                        </li>

                        {% endfor %}
                        <p class="mb-0"><b>Precio Total:</b> {{ order.total_price }}€ + IVA</p>
                        <p class="mb-0"><b>Total a Pagar:</b> {{ order.total_price_with_vat }}€ IVA incl.</p>
                    </ul>
                        
                    {% else %}
                        <p>No hay artículos añadidos todavía</p>
                      
                    {% endif %}

                    
                </div>
            </div>
            <button class= "btn btn-secondary">Guardar</button>
        </form>
        {% if items %} 
            <p><a href="{% url 'orders:order_detail' order.pk %}">Listo!</a></p>
        {% else %}
            <p><a href="{% url 'orders:orders' %}">Volver atrás</a></p>
        {% endif %}
        
    </div>
{% endblock %}