{% extends "general/layout.html" %}

{% block head_title %} Bienvenido a la Home {% endblock %}

{% block contenido %}

{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'orders/css/orders.css' %}">

<!--Header-->
<div class="container">
    {% include "_includes/_messages.html" %}
    <div class="order-header">
        <h2>{{ object.title }}</h2>

        <p><a href="{% url 'invoices:create_invoice' object.pk %}" class="btn btn-outline-primary">Crear Factura</a></p>

        <div class="order-meta">

            <a href="{% url 'orders:order_update' object.pk %}" class="btn btn-outline-secondary">
                Editar Datos del Pedido
            </a>

            <span class="order-delivery">
                Entrega: {{ object.delivery_date|date:"d/m/Y" }}
            </span>

            {% if object.status == 'COMPLETED' %}
              <span>
                    <form method="post" action="{% url 'orders:change_status' object.pk %}">
                     {% csrf_token %}
                        <select name="status" class="form-select w-auto" onchange="this.form.submit()">
                            <option disabled selected>Cambiar Estado</option>
                            <option value="DELIVERED">Entregado</option>
                            <option value="CANCELLED">Cancelado</option>
                        </select>
                    </form>
                </span>

            {% else %}
                <span>
                    <form method="post" action="{% url 'orders:change_status' object.pk %}">
                     {% csrf_token %}
                        <select name="status" class="form-select w-auto" onchange="this.form.submit()">
                            <option disabled selected>Cambiar Estado</option>
                            <option value="PENDING_DESIGN">Pendiente de diseño</option>
                            <option value="DESIGN_READY">Diseño confirmado</option>
                            <option value="IN_PRODUCTION">En producción</option>
                        
                            <option value="DELIVERED">Entregado</option>
                         <option value="CANCELLED">Cancelado</option>
                        </select>
                    </form>
                </span>

            {% endif %}

            

            
            <span class="badge bg-{{ object.status_color }}">
                {{ object.get_status_display }}
            </span>

            <span class="order-total">
                {{ object.total_price }} € + IVA
            </span>
        </div>
    </div>


    <div class="order-info-grid">
        <div class="info-card">
            <strong>Cliente</strong>
            <p>{{ object.client }}</p>
        </div>

        <div class="info-card">
            <strong>Creado</strong>
            <p>{{ object.created_at|date:"d/m/Y" }}</p>
        </div>

        <div class="info-card">
            <strong>Tipo</strong>
            <p>{{ object.get_order_type_display }}</p>
        </div>
    </div>
</div>
<!--Tabla de detalle de pedido-->
<div class="container">
    <table class="table order-items-table">
    <thead>
        <tr>
            <th>Cant.</th>
            <th>Producto</th>
            <th>Variante</th>
            <th>Precio</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object.items.all %}
        <tr>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product }}</td>
            <td>{{ item.variant }}</td>
            <td>{{ item.unit_price }} €</td>
            <td>
                <form method="post" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="delete">
                            <input type="hidden" name="item_id" value="{{ item.pk }}">
                            <button class="btn btn-danger btn-sm">
                                🗑
                            </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>


    <!--Botones de accion -->
    <div class="order-actions">
        {% if object.status != 'COMPLETED' %}

            <a href="{% url 'orders:order_draft' object.pk %}" class="btn btn-outline-primary">
                Añadir artículo
            </a>

            <a href="{% url 'orders:order_delete' object.pk %}" class="btn btn-outline-danger">
                Eliminar Pedido
            </a>

            

            
            
            <form action="{% url 'orders:sent_email' object.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Completar Pedido</button>

            </form>

        {% endif %}
            <a href="{% url 'home' %}" class="btn btn-link">
            Volver
            </a>
        
    </div>
</div>





    


    <div class="container">
        <div class="row">
            

            <div class="col-md-7">
                <img src="https://www.bootdey.com/image/400x300/FFB6C1/000000" alt="project-image" class="rounded">
                <div class="project-info-box">
                    <p><b>Categories:</b> Design, Illustration</p>
                    <p><b>Skills:</b> Illustrator</p>
                </div><!-- / project-info-box -->
            </div><!-- / column -->
        </div>
    </div>

{% endblock %}