
{% extends "general/layout.html" %}

{% block head_title %} Panel de Pedidos {% endblock %}

{% block contenido %}
            
      <div class="container">
      {% include "_includes/_messages.html" %}
      {% load static %}
      <link rel="stylesheet" href="{% static 'orders/css/orders.css' %}">
      
         <section>
               <div class="row">
                     <div class="col-12">
                        <p class="mb-3">
                           <a href="{% url 'orders:order_create' %}">Crear un Nuevo pedido</a>
                        </p>
                     </div>
               </div>
            
               <div class="row">
                  <div class="col-12">
                     <h4>Búsqueda y Filtros</h4>
                     {% include "_includes/_orders/_order_filters.html" %}
                     <h2 class="mt-4">Ultimos Encargos</h2>
                     <div class="order columns">
                        <div>Cliente</div>
                        <div>Pedido</div>
                        <div>Tipo</div>
                        <div>Estado</div>
                        <div>Importe</div>
                     </div>
                     {% for order in orders  %}
                           {% include "_includes/_orders/_order_row.html" %}
                       
                     {% endfor %}
                  </div>
                  
               </div>                         
         </section> 
      </div  


      
       
{% endblock %}