        <div class="container">
            <h1>RROPPAS</h1>
             <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                
               {% if not request.user.is_authenticated %}
                <li><a href="{% url 'login' %}">Inicia Sesión</a></li>
                <li><a href="{% url 'register' %}">Regístrate</a></li>
               {% endif %}
               {% if request.user.is_authenticated %}
                <li><a href="{% url 'orders:orders' %}">Pedidos</a></li>
                <li><a href="{% url 'clients:clients_list' %}">Clientes</a></li>
                <li><a href="{% url 'products:products_catalog' %}">Catálogo de Productos</a></li>
                <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
               {% endif %}
             </ul>

        </div>