{% extends "general/layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %} Delete {{object.first_name}} {{object.last_name}} {% endblock %}

{% block h1 %} Eliminar {{object.first_name}} {{object.last_name}} {% endblock %}

{% block contenido %}
    <div class="container">
        <h1>¿Eiminar {{object.first_name}} {{object.last_name}} ?</h1>
        <form action="" method='post'>
            {% csrf_token %}
            <div class="row">
                <p>¿Seguro que quieres eliminar este contacto?</p>
            </div>
            <button class= "btn btn-secondary">Eliminar</button>
        </form>
        <p><a href="{% url 'clients:clients_list' %}">Volver atrás</a></p>
    </div>
{% endblock %}