{% extends "general/layout.html" %}

{% block head_title %} Clientes {% endblock %}

{% block contenido %}
        <div class="container">
            <h2>{% block h1 %} Clientes {% endblock %}</h2>
            <ul>
                {% for client in clients %}
                    <li><a href="{% url 'clients:clients_detail' client.pk %}">{{ client.name }}</a></li>
                {% endfor %}
            </ul>
            <hr>
            <p><a href="{% url 'clients:clients_add' %}">Añadir nuevo Cliente</a></p>
            <p><a href="{% url 'home' %}">Volver a la Home</a></p>
        </div>

        
       
{% endblock %}

