{% extends "general/layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %} New Contact {% endblock %}

{% block h1 %} Nuevo Contacto {% endblock %}

{% block contenido %}
    <div class="container">
        <h1>Rellena los siguientes campos</h1>
        <form action="" method='post'>
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-sm-6">
                    {{ form.as_p}}
                </div>
            </div>
            <button class= "btn btn-secondary">Guardar</button>
        </form>
        <p><a href="{% url 'clients:clients_detail' client_pk %}">Volver atrás</a></p>
    </div>
{% endblock %}