{% extends "general/layout.html" %}

{% block head_title %} {{client.name}} {% endblock %}

{% block contenido %}
<div class="container">
    <h1>{% block h1 %}{{ client.name }}{% endblock %}</h1>

    <p><strong>Tipo:</strong> {{ client.tipo}}</p>
    <p><strong>CIF/NIF:</strong> {{ client.cif_nif|default_if_none:"Sin rellenar" }}</p>
    <p><strong>Teléfono:</strong> {{ client.t_number }}</p>
    <p><strong>Email:</strong> {{ client.email }}</p>
    <p><strong>Direccion:</strong> {{ client.direccion }}</p>

    <p><a href="{% url 'clients:clients_update' client.pk %}">Editar Cliente</a></p>
    <p><a href="{% url 'clients:clients_delete' client.pk %}">Eliminar Cliente</a></p>


<hr>

    <h2>Contactos</h2>
    <ul>
        {% for c in client.relacionados.all %} 
            <li><a href="{% url 'clients:clients_contact_detail' c.pk %}">{{ c.first_name }} - {{ c.last_name }} - {{ c.t_number }}</a></li>
            
        {% empty %}
            <p>No hay contactos</p>
        {% endfor %}
    </ul>
    <p><a href="{% url 'clients:clients_contact_add' client.pk %}">Añadir nuevo contacto</a></p>

    <h2>Archivos</h2>
    <ul>
        {% for f in client.files.all %}
        {% if f.file %}
            <li><a href="{% url 'clients:clients_files_detail' f.pk %}">
                <img src="{{ f.file.url }}" alt="" width=200>
            </a></li>
        {% else %}
            <p>No hay archivos</p
        {% endif %}
        {% endfor %}
    </ul>
    <p><a href="{% url 'clients:clients_files_add' client.pk %}">Añadir nuevo archivo</a></p>

    <hr>
    <p><a href="{% url 'clients:clients_list' %}">Volver atrás</a></p>
</div>
{% endblock %}
