{% extends "general/layout.html" %}

{% block head_title %} Bienvenido a la Home {% endblock %}

{% block contenido %}

   {% if request.user.is_authenticated %}
            
      <div class="container">
      {% include "_includes/_messages.html" %}
      
         <section>
            
               <div class="row">
                  <div class="col-md-6">
                     <h3 class="mb-3">Encargos</h3>
                     {% for order in important_orders %}
                  
                        {% include "_includes/_orders/_order_card.html" %}
                  
                     {% endfor %}
                  </div>

                  <div class="col-md-6">
                     <h3 class="mb-3">Mostrador</h3>
                     {% for order in counter_orders %}
                  
                        {% include "_includes/_orders/_order_card.html" %}
                  
                     {% endfor %}
                  </div>
                  
               </div>
               
                  
               
         </section>
      
      </div
   {% endif %}  


      
       
{% endblock %}