<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tu Pedido está listo para ser recogido!!</title>
</head>
<body style="font-family: Arial, sans-serif; color: #333;">

    <h2>Pedido {{ order.title }} - {{ order.client.name }}</h2>

    <p>Hola {{ order.client.name }},</p>

    <p>
        ¡¡Te informamos de que hemos completado tu pedido de manera exitosa!!
    </p>

    <hr>

    <p>Te lo haremos llegar lo antes posible según el método de entrega seleccionado</p>
    <p>Envío a domicilio o Entrega en casa</p>

    <hr>


    <hr>

    <p>
        Para más información puedes responder a este correo o contactarnos por télefono.
    </p>

    <p>
        Gracias por confiar en nosotros.<br>
        <strong>MiniERP</strong>
    </p>

</body>
</html>